.clearfix::before,
.clearfix::after{
    content: "";
    display: table;
}
.clearfix::after{
    clear: both;
}
.clearfix::before{
    *zoom: 1;
}
.container{
    width: 1444px;
    margin:0 auto;
    height: 44px;
}
.banxin{
    width: 1484px;
    margin: 0 auto;
}
.banxin2{
    width: 1800px;
    margin: 0 auto;
}
.banxin3{
    width: 902px;
    margin: 0 auto;
}
.banxin4{
    width: 1046px;
    margin: 0 auto;
}
.banxin5{
    width: 1000px;
    margin-left:300px;
}
.banxin6{
    width: 887px;
    margin-left: 500px;
}
.banxin7{
    width: 1070px;
    margin: 0 360px;
}
.banxin8{
    width: 1200px;
    margin: 0 auto;
}
.banxin9{
    width: 1116px;
    margin: 0 auto;
}
.banxin10{
    width: 1116px;
    margin: 0 auto;
}
.ban{
    width: 1120px;
    margin: 0 auto;
}