.topnav{
    width: 100%;
    height: 40px;
    background-color: #fdfdfd;
    background-image: url(../img文件夹/top_ordin.png);
    background-repeat:repeat;
}
.topnav .banxin{
    height: 100%;
}
.topnav-left{
   float: left;
   height: 100%;
   width: 760px;
   margin-left: 175px;
}

.topnav-left a:first-child{
    display: block;
    width: 230px;
    height: 100%;
    background-image:url(../img文件夹/top_ordin.png);
    background-position: 0px 125px ;
    overflow: hidden;
    float: left;
}
.topnav-left a:last-child{
    display: block;
    width: 230px;
    height: 100%;
    background-image:url(../img文件夹/top_ordin.png);
    background-position: 0px 252px ;
    overflow: hidden;
    float: left;
}
.topnav-right a{
    width: auto;
    height: 100%;
    display: block;
    float: left;
    margin-right: 19px;
    line-height: 40px;
}
.topnav-right a:last-child{
    background-image: url(../img文件夹/top_ordin.png);
    background-position:0px 42px ;
    width: 100px;
    text-align: center;
} 
.top{
    width: 100%;
    height: 89px;
    box-sizing: border-box;
    border-top:4px solid #ee0703 ;
    background-color: #1c1d22;
    /* padding-top: 27px; */
}
.top .banxin8{
    height: 100%;
    background-color: #171b24;
    text-align: left;
}
.top li {
    width: 120px;
    height: 85px;
    float: left;
    position: relative;
    margin-right: 20px;
    text-align: center;
}
.top li:hover{
    background-image: url(../img文件夹/img-libao/actnav.png);
    background-position: 0px -91px;
}
.top li:hover a p,.top li:hover a span {
    color: #fef9c3;
}
.top li a{
    color: #a9a9a9;
    overflow: hidden;
}
.top a{
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.top a p{
    margin-top: 27px;
    margin-bottom:8px;
    font-size: 13px;
    color: #a9a9a9;
    font-weight: 700;
}
.top a span{
    color: #767a82;
}
.top li:before{
    content: "";
    width: 2px;
    height: 54px;
    background-color: #111419;
    position: absolute;
    top: 18px;
    right: -3px;
}
.top li:after{
    content: "";
    width: 2px;
    height: 54px;
    background-color: #242830;
    position: absolute;
    top: 18px;
    right: -5px;
}
.zhongxin{
    width: 128px;
    height: 100%;
    padding-top: 12px;
    padding-left:12px ;
    float: right;
    position: absolute;
    top: 42px;
    right: 292px;

}
.zhongxin a{
    display: block;
    width: 100px;
    height: 28px;
    background-color: #e4c8a5;
    margin-bottom: 8px;
    border-radius: 5px;
    text-align: center;
    line-height:28px;
}
.bg1{
    width: 100%;
    height: 500px;
    background-image: url(../img文件夹/img-星罗万象/bg1.jpg);
    position: relative;
    z-index: -1;
}
.bg2{
    width: 100%;
    height: 1000px;
    background-image: url(../img文件夹/img-星罗万象/bg2.jpg);
    position: relative;
    z-index: -1;
}
bg3{
    width: 100%;
    height: 889px;
    background-image: url(../img文件夹/img-星罗万象/bg3.jpg);
    position: relative;
    z-index: -1;
}