.topnav{
    width: 100%;
    height: 40px;
    background-color: #fdfdfd;
    background-image: url(../img文件夹/top_ordin.png);
    background-repeat:repeat;
}
.topnav .banxin{
    height: 100%;
}
.topnav-left{
   float: left;
   height: 100%;
   width: 760px;
   margin-left: 175px;
}

.topnav-left a:first-child{
    display: block;
    width: 230px;
    height: 100%;
    background-image:url(../img文件夹/top_ordin.png);
    background-position: 0px 125px ;
    overflow: hidden;
    float: left;
}
.topnav-left a:last-child{
    display: block;
    width: 230px;
    height: 100%;
    background-image:url(../img文件夹/top_ordin.png);
    background-position: 0px 252px ;
    overflow: hidden;
    float: left;
}
.topnav-right a{
    width: auto;
    height: 100%;
    display: block;
    float: left;
    margin-right: 19px;
    line-height: 40px;
}
.topnav-right a:last-child{
    background-image: url(../img文件夹/top_ordin.png);
    background-position:0px 42px ;
    width: 100px;
    text-align: center;
} 
    
.center{
    width: 100%;
    height: 800px;
    background-image: url(../img文件夹/background.jpeg);
    background-position:-325px 01px ;
    position: relative;
}
.dnflogo{
    display: block;
    width: 214px;
    height: 118px;
    background-image: url(../img文件夹/sprite.png);
    position: absolute;
    top: 0px;
    left: 188px;
}
.daohang{
    width: 100%;
    height: 300px;
    position: relative;
    background-image: url(../img文件夹/bg_nav.png);
    background-position:0px 0px ;
}
.daohang:hover{
    background-image: url(../img文件夹/bg_nav_hover.png);
    background-position:0px 300px ;
}
.daohang .banxin{
    height: 100%;
}
.daohang ul{
    margin-left: 210px;
    text-align: center;
}
.daohang ul a{
    width: 86px;
    height: 88px;
    display: block;
    color: #fff;
    float: left;
    font-size: 16px;
    padding-top: 40px;
    box-sizing: border-box;
    margin-right: 67px;
    margin-top: 12px;
}
.daohang ul a span{
    color: #ccc;
    font-size: 6px;
}
.daohang ul a:hover{
    border-bottom:2px solid #EC4828 ;
    color:#EC4828 ;
    background-image: url(../img文件夹/sprite.png);
    background-position:-211px 0px ;
}
.daohangup{
    width: 100%;
    height: 195PX;
    position: absolute;
    top: 120px;
    left: 0px;
    padding-left: 210px;
}
.daohangup ol{
    float: left;
    width: 86px;
    text-align: center;
    margin-right: 67px;
}
.daohangup ol a{
    color: white;
    line-height:2;
    font-size: 14px;
}
.daohangup ol a:hover{
   color:#EC4828 ;
}
.app img{
    position: absolute;
    top: 0px;
    right: 500px;
    width: 200px;
    display: none;
}
.wx img{
    position: absolute;
    top: 0px;
    right: 500px;
    display: none;
    width: 205px;
}
.app:hover img{
    display: block;
}
.wx:hover img{
    display: block;
}
.daohangup{
    display: none; 
}
.daohang:hover .daohangup{
    display: block;
}
.kuanghuan{
    width: 570px;
    height: 65px;
    margin-left: 670px;
}
.kuanghuan a{
    display: block;
    width: 100%;
    height: 100%;
}
.content-top-left{
    float: left;
    width: 240px;
    height: 430px;
    background-image: url(../img文件夹/bg-sider-top.png);
}
.content-top-zhanshi{
    float: left;
    width: 343px;
    height: 430px;
    margin-left: 35px;
    text-align: center;
    position: relative;
    background-color: rgba(26, 25, 25, 0.8);
}
.content-top-zhanshi h3{
    color: white;
    font-size: 20px;
    font-weight: 700;
    position:absolute;
    top: 212px;
    left: 127px;
}
.content-top-zhanshi span{
    color: white;
    line-height: 3;
    position:absolute;
    top: 237px;
    left: 96px;
}
.content-top-zhanshi a{
    display: block;
    width: 100px;
    height: 30px;
    color:#EC4828 ;
    font-weight: 700;
    padding-left: 20px;
    box-sizing: border-box;
    position:absolute;
    top: 291px;
    left: 105px;
}
.content-top-zhanshi s{
    float: left;
    display: block;
    line-height: 35px;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-right: 5px;
}
.content-top-zhanshi i{
    float: left;
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../img文件夹/sprite.png);
    background-position:-372px -368px ;
    margin-top: 4px;
}
.content-top-zhanshi a:hover{
    background-color: #ec4828;
    color: white;
    background-image: url(../img文件夹/sprite.png);
    background-position: 337px 362px;
}
.content-top-zhanshi a:hover i{
    display: none;
}
.content-top-lunbotu{
    float: left;
    width: 343px;
    height: 430px;
    position: relative;
}
.content-top-lunbotu ul{
    position: absolute;
    bottom: 15px;
    left: 80px;
}
.content-top-lunbotu li {
    display: block;
    float: left;
    margin-right: 8px;
    width: 20px;
    height: 4px;
    background-color:#EC4828 ;
    border-radius: 20px;
}
.content-top-lunbotu li:hover{
    background-color:white ;
}
.content-top-right{
    float: left;
    width: 480px;
    height:431px;
    background-color: #fff;
}
.content-top-right-top{
    width: 420px;
    height: 64px;
    margin: 0 auto;
    border-bottom:1px solid #f0f0f0;
}
.content-top-right-top li{
    display: block;
    float: left;
    width: 84px;
    height: 64px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 64px;
    position: relative;
}
.content-top-right-top li:hover{
    background-image: url(../img文件夹/sprite.png);
    background-position:-296px 58px ;
    background-repeat: no-repeat;
}
.four:before{
    content: "4";
    width:12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ec4828;
    border: 1px solid #EC4828;
    position: absolute;
    color: #fff;
    top: 10px;
    right: 12px;
    line-height: normal;
    font-size: 12px;
}
.two:before{
    content: "2";
    width:12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ec4828;
    border: 1px solid #EC4828;
    position: absolute;
    color: #fff;
    top: 10px;
    right: 12px;
    line-height: normal;
    font-size: 12px;
}
.six:before{
    content: "6";
    width:12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ec4828;
    border: 1px solid #EC4828;
    position: absolute;
    color: #fff;
    top: 10px;
    right: 12px;
    line-height: normal;
    font-size: 12px;
}
.content-top-right-center{
    float: left;
    width: 421px;
    height: 48px;
    background-color: #f0f0f0;
    margin-top: 33px;
    margin-left: 30px;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
    font-weight: 700;
}
.content-top-right-content{
    float: left;
    width: 421px;
    height: 197px;
    margin-left: 30px;
    margin-top: 15px;
}
.content-top-right-content li{
    display: block;
    margin-bottom: 15px;
}
.content-top-right-content i{
    display: inline-block;
    width: 50px;
    height: 20px;
    background-image: url(../img文件夹/sprite.png);
    background-position: -443px -28px;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;
}
.content-top-right-bottom{
    margin-left: 30px;
    margin-top: 26px;
    float: left;
    width: 416px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    border: 2px solid #e3e3e3;
}
.content-top-right-bottom a{
    color: #555;
    font-size: 16px;
}
.content-top-right-bottom a:hover{
    color: #EC4828;
}
.content-top-right-bottom i{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../img文件夹/sprite.png);
    background-position: -298px -10px;
    margin-top: 10px;
    margin-left: 5px;
}
.bg{
    width: 100%;
    height: 445px;
    background-color: #f0f0f0;
    position: absolute;
    top: 870px;
    left: 0px;
    z-index: -1;
}
.rukou{
    width: 228px;
    height:475px;
    border: 5px solid #bbb;
    margin-top: 12px;
    margin-left: 14px;
    background-color: #fff;
    float: left;
}
.rukou-top{
    width: 100%;
    height: 195px;
}
.rukou h4{
    font-size: 18px;
    color: #3e5566;
    text-align: center;
    margin-top: 29px;
    position: relative;
    margin-bottom: 30px;
}
.rukou h4:after{
    content: "";
    width: 140px;
    height: 1px;
    background-color: #f0f0f0;
    position: absolute;
    left: 45px;
    bottom: -10px;
}
.rukou-top a,.rukou-bottom a{
    display: block;
    width: 60px;
    height: 60px;
    float: left;
    margin-left: 12px;
    margin-bottom: 20px;
    text-align: center;
    color: #8b9298;
}
.rukou-top div,.rukou-bottom div{
    width: 100%;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    margin-bottom: 5px;
    background-image: url(../img文件夹/sprite.png);
    background-repeat: no-repeat;
}
.rukou-top i,.rukou-bottom i{
    display: block;
    width: 100%;
    height: 30px;
    background-image: url(../img文件夹/sprite.png);
    background-repeat: no-repeat;
    display: none;
}
.rukoulogo{
    background-position: 2px -182px;
}
.rukoulogo:hover i{
    background-position: 2px -212px;
    display: block;
}
.heizuan{
    background-position: -32px -182px;
}
.heizuan:hover i{
    background-position: -32px -212px;
    display: block;
}
.kefulogo{
    background-position: -62px -182px;
}
.kefulogo:hover i{
    background-position: -62px -212px;
    display: block;
}
.anquanlogo{
    background-position: -92px -182px;
}
.anquanlogo:hover i{
    background-position: -92px -212px;
    display: block;
}
.zhoubianlogo{
    background-position: -122px -182px;
}
.zhoubianlogo:hover i{
    background-position: -122px -212px;
    display: block;
}
.kefulogo_1{
    background-position: -155px -182px;
}
.kefulogo_1:hover i{
    background-position: -155px -212px;
    display: block;
}
.luntanlogo{
    background-position: -185px -182px;
}
.luntanlogo:hover i{
    background-position: -185px -212px;
    display: block;
}
.weixinlogo{
    background-position: -218px -182px;
}
.weixinlogo:hover i{
    background-position: -218px -212px;
    display: block;
}
.tubialogo{
    background-position: -249px -182px;
}
.tubialogo:hover i{
    background-position: -249px -212px;
    display: block;
}
.diantailogo{
    background-position: -279px -182px;
}
.diantailogo:hover i{
    background-position: -279px -212px;
    display: block;
}
.yuanhualogo{
    background-position: -310px -182px;
}
.yuanhualogo:hover i{
    background-position: -310px -212px;
    display: block;
}
.xinyuelogo{
    background-position: -341px -182px;
}
.xinyuelogo:hover i{
    background-position: -341px -212px;
    display: block;
}
.zhongxin-center{
    width: 755px;
    height: 450px;
    float: left;
}
.zhongxin-center-topnav{
width: 686px;
height: 80px;
float: left;
margin-left: 34px;
margin-top: 40px;
border-bottom: 1px solid #e3e3e3;
}
.zhongxin-center-topnav h3{
    width: 146px;
    height: 100%;
    color: #49657a;
    font-size: 23px;
    text-align: center;
    line-height: 80px;
    font-weight: normal;
    float: left;
}
.zhongxin-xinyuelogo{
    float: left;
    display: block;
    width: 77px;
    height: 28px;
    background-image: url(../img文件夹/sprite.png);
    background-position: -402px 0px;
    margin-left: 359px;
    margin-top: 33px;
}
.zhongxin-huodong-logo{
    display: block;
    float: left;
    width: 90px;
    height: 28px;
    border-radius: 20px;
    border: 2px solid#ccc;
    color: red;
    text-align: center;
    line-height: 28px;
    margin-left: 10px;
    margin-top: 33px;
}
.zhongxin-center-top{
    width: 685px;
    height: 77px;
    float: left;
    margin-left: 33px;
    padding-left: 58px;
    box-sizing: border-box;
    position: relative;
}
.zhongxin-center-top a{
    display: block;
    float: left;
    width: 81px;
    height: 100%;
    color: #555;
    font-weight: 700;
    font-size: 16px;
    padding-top: 30px;
    box-sizing: border-box;
    position: relative;
}
.zhongxin-center-top i{
    display: block;
    width: 82px;
    height: 20px;
    color: #ec4828;
    background-image: url(../img文件夹/sprite.png);
    background-position:-299px 10px ;
    background-repeat: no-repeat;
    position: absolute;
    top: -14px;
    left: -10px;
    display: none;
}
.zhongxin-center-top a:hover i{
    display: block;
}
.zhongxin-center-top a:hover{
    color: #ec4828;;
}
.zhongxin-center-top a:nth-child(-n+3){
    margin-right: 85px;
}
.huodongname{
    float: left;
    width: 681px;
    height: 42px;
    background-color: #f9f9f9;
    margin-left: 33px;
    padding-left: 58px;
    box-sizing: border-box;
}
.huodongname p{
    float: left;
    text-align: center;
    width: 60px;
    height: 100%;
    line-height: 42px;
    margin-right: 115px;
    font-weight: 700;
}
.zhongxin-center-huodong{
    width: 686px;
    height: 202px;
    float: left;
    margin-left: 33px;
    margin-top: 15px;
}
.zhongxin-center-huodong li{
    width: 100%;
    height: 42px;
    line-height: 42px;
}
.zhongxin-center-huodong li:nth-child(-n+4){
    border-bottom: 1px dashed #cecece;
}
.zhongxin-center-huodong p{
    width:120px;
    height:40px;
    text-align: center;
    line-height: 40px;
    margin-left: 30px;
    float: left;
}
.jiangli{
    width: 120px;
    height: 100%;
    float: left;
    margin-left: 50px;
    text-align: center;
    margin-right:87px ;
}
.zhongxin-center-huodong span{
    color: red;
}
.zhongxin-center-huodong a{
    display: block;
    float: right;
    margin-right:58px ;
    width: 57px;
    height: 25px;
    background-image: url(../img文件夹/sprite.png);
    background-position:-484px 0px;
}
.hothuodong{
    width:413px;
    height:419px;
    float: left ;
    margin-top: 40px;
}
.hothuodong h4{
    width: 146px;
    height: 80px;
    color: #49657a;
    font-size: 23px;
    text-align: center;
    line-height: 80px;
    font-weight: normal;
}
.hothuodong img{
    margin-bottom: 20px;
}
.bg2{
    width: 326px;
    height: 590px;
    background-image: url(../img文件夹/p.png);
    position: absolute;
    top: 778px;
    right: 0px;
}
.tuijian{
    width: 100%;
    height: 395px;
    /* float: left; */
}
.tuijian .banxin2{
    height: 100%;
}
.tuijian-left{
    width: 410px;
    height: 100%;
    background-image: url(../img文件夹/bg-sider-quick.png);
    margin-left: 60px;
    text-align: center;
    padding-top: 67px;
    padding-left: 200px;
    background-repeat: no-repeat;
    float: left;
    box-sizing: border-box;
}
.tuijian-left a{
    font-size: 18px;
    color: #ffc39e;
    display: block;
    width: 155px;
    height: 60px;
    font-weight: 700;
}
.tuijian-left a:hover{
    color: #fdfdfd;

}
.tuijian-left a:hover i{
    display: none;
}

.tuijian-left a i{
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    background-image: url(../img文件夹/sprite.png);
    background-position: -247px -112px;
}
.tuijian-shipin{
    width: 690px;
    height: 363px;
    float: left;
    margin-left: 35px;
    margin-top: 30px;
    background-image: linear-gradient(white 40%, #ccc);
}
.tuijian-shipin-top{
    width: 680px;
    height: 48px;
    border-bottom: 1px solid #ccc;
}
.tuijian-shipin-top h4{
    font-size: 24px;
    color: #617687;
    font-weight: normal;
    float: left;
    margin-right: 290px;
}
.tuijian-shipin-top a:nth-child(-n+3){
    display: block;
    float: left;
    width: 90px;
    height: 28px;
    color: red;
    border-radius:20px ;
    border: 2px solid #ccc;
    text-align: center;
    line-height: 28px;
    margin-right: 10px;
}
.tuijian-shipin-top a:last-child{
    width: 50px;
    height: 28px;
    text-align: center;
    display: block;
    color: #999;
    float: left;
    line-height: 28px;
}
.tuijian-shipin-top_1{
    width: 670px;
    height: 62px;
    float: left;
    padding-left: 36px;
    box-sizing: border-box;
}
.tuijian-shipin-top_1 a{
    display: block;
    float: left;
    width: 82px;
    height: 100%;
    color: #555;
    text-align: center;
    padding-top: 29px;
    font-size: 18px;
    font-weight: 700;
    position: relative;
}
.tuijian-shipin-top_1 a:nth-child(-n+4){
    margin-right: 50px;
}
.tuijian-shipin-top_1 i{
    display: block;
    width: 82px;
    height: 20px;
    color: #ec4828;
    background-image: url(../img文件夹/sprite.png);
    background-position:-299px 10px ;
    background-repeat: no-repeat;
    position: absolute;
    top: -14px;
    left: 0px;
    display: none;
    
}
.tuijian-shipin-top_1 a:hover{
    color: #ec4828;
}
.tuijian-shipin-top_1 a:hover i{
    display: block;
}
.tuijian-shipin-center{
    width: 685px;
    height: 152px;
    padding-left: 43px;
    box-sizing: border-box;
    margin-top: 18px;
    float: left;
    position: relative;
}
.tuijian-shipin-center img{
    height: 152px;
}
.tuijian-shipin-center img:last-child{
    margin-left: 20px;
}
.tuijian-shipin-center i{
    display: block;
    width: 25px;
    height: 60px;
    background-image:url(../img文件夹/sprite.png);
    background-position:-325px -552px ;
    position: absolute;
    top: 50px;
    right: 8px;
}
.tuijian-shipin-center b{
    display: block;
    width: 25px;
    height: 55px;
    background-image:url(../img文件夹/sprite.png);
    background-position:-300px -552px ;
    position: absolute;
    top: 50px;
    left: 15px;
}
.tuijian-shipin-center_1{
    width: 574px;
    height: 40px;
    float: left;
}
.tuijian-shipin-center_1 p{
    float: left;
    margin-top: 18px;
    margin-left: 20px;
    color: #555;
    font-size: 16px;
}
.tuijian-shipin-center_1 p:first-child{
    margin-right: 25px;
}
.tuijian-shipin-center_1 a{
    width: 97px;
    height: 25px;
    display: block;
    float: left;
    margin-left: 20px;
    position: relative;
    text-align: right;
    margin-top: 10px;
}
.tuijian-shipin-center_1 i{
    display: block;
    float: left;
    width: 29px;
    height: 28px;
    background-image: url(../img文件夹/sprite.png);
    background-position: -186px -182px;
    position: absolute;
    top: -5px;
    left: 0px;
}
.tuijian-shipin-center_1 a:last-child{
    margin-left: 193px;
}
.tuijian-tuwen{
    width: 500px;
    height: 364px;
    float: left;
    margin-left: 35px;
    margin-top: 30px;
}
.tuijian-tuwen h4{
    font-size: 24px;
    color: #49657a;
    font-weight: normal;
    margin-left: 26px;
}
.tuijian-tuwen div{
    width: 412px;
    height: 141px;
    float: left;
    margin-top: 27px;
}
.tuijian-tuwen h3{
    font-size: 20px;
    font-weight: 700;
    color: #f0f0f0;
    margin-top: 40px;
    margin-left: 45px;
    margin-bottom: 15px;
}
.tuijian-tuwen p{
    margin-left: 45px;
    font-size: 16px;
    color: #b8b8b8;
    margin-bottom: 16px;
}
.tuijian-tuwen span{
    margin-left: 45px;
    display: block;
    width: 61px;
    height: 22px;
    color: #ec4828;
    text-align: center;
    background-image: url(../img文件夹/sprite.png);
    background-position: -495px -27px;
    line-height: 22px;
}
.tuwen_one{
    background-image: url(../upload文件夹/下载\(2\).jpg);
}
.tuwen_two{
    background-image: url(../upload文件夹/下载\ \(1\).jpg);
}
.daojucheng{
    width: 193px;
    height: 261px;
    text-align: left;
    position: absolute;
    top: 1675px;
    left:242px;
}
.daojucheng h4{
    width: 154px;
    margin: 0 auto;
    color: #49657a;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 5px;
}
.daojucheng div{
    width: 214px;
    height: 75px;
    margin: 20px auto;
}
.daojucheng div img{
    float: left;
    width: 68px;
    margin-right: 14px;
}
.daojucheng div p{
  margin-bottom: 8px;
}
.daojucheng div i{
    display: block;
    color: red;
    font-weight: 600;
    margin-bottom: 8px;
}
.daojucheng div a{
    display: block;
    width: 75px;
    height: 26px;
    background-color: #e24122;
    color: white;
    margin-left: 78px;
    line-height: 26px;
    text-align: center;
}
.hezuo{
    width: 243px;
    height: 56px;
    background: linear-gradient(to right,#ccc,white);
    position: absolute;
    top: 1953px;
    left: 218px;
    text-align: center;
  
}
.hezuo-top{
    font-size: 16px;
    color: #bbb;
    line-height: 56px;
}
.mingxing{
    width: 1137px;
    height: 312px;
    margin-left: 552px;
    margin-top: 59px;
}
.mingxing .banxin2{
    height: 100%;
}
.mingxing-top{
    width: 682px;
    height: 62px;
}
.mingxing h4{
    font-size: 24px;
    color: #617687;
    font-weight: normal;
    float: left;
    margin-right: 490px;
}
.mingxing span{
    display: block;
    margin-top: 10px;
}
.mingxing span a{
    color: #ccc;
}
.mingxing-center{
    width: 690px;
    height: 251px;
    float: left;
}
.mingxing-center div{
    float: left;
    width: 333px;
    height: 247px;
    margin-right: 12px;
}
.doudizhu_1{
    background-image: url(../upload文件夹/20191130140001.jpg);
    position: relative;  
    background-repeat: no-repeat; 
    filter:blur(4px);
    z-index: -1;
}
.doudizhu_2{
    position: relative;
    text-align: center;
    top: -270px;
    left: 0px;
    color: white;
}
.doudizhu a{
    display: block;
    width: 70px;
    height: 20px;
    background-color: #ec4828;
    color: white;
    line-height: 20px;
    margin-left: 130px;
}

.doudizhu:before{
    content: "";
    width: 333px;
    height: 187px;
    background-color: rgba(26, 25, 25, 0.8);
    position: absolute;
    top: 1864px;
    right: 1017px;
    opacity: 0.5;
}

.zahuishi{
    background-image: url(../upload文件夹/20191130140017.jpg);
    background-repeat: no-repeat;
    position: relative; 
}
.zahuishi_2{
    position: relative;
    text-align: center;
    top: -270px;
    left: 0px;
    color: white;
}
.zahuishi:before{
    content: "";
    width: 333px;
    height: 190px;
    background-color: rgba(26, 25, 25, 0.8);
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0.5;
}
.zahuishi_2 a{
        display: block;
        width: 70px;
        height: 20px;
        background-color: #ec4828;
        color: white;
        line-height: 20px;
         margin-left: 130px;
    
}
.mingxing-center div img{
    width: 98px;
    border-radius:50% ;
    border: 2px solid #9b9594;
    margin-top: 37px;
}
.mingxing-right{
    width: 212px;
    height: 250px;
}
.mingxing-right{
    width: 212px;
    height: 249px;
    float: left;
    margin-left: 35px;
}
.mingxing-right a{
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
}
.bg3{
    display: block;
    width: 283px;
    height: 343px;
    background-image: url(../img文件夹/bg-mt.png);
    float: left;
    position: absolute;
    bottom: -1170px;
    right: 85px;
    background-repeat: no-repeat;
}
.pinpai{
    width: 1400px;
    height: 209px;
    /* position: absolute;
    bottom: -1355px;
    right: 0px; */
    /* float: right; */
    margin-left: 553px;
    margin-top: 12px;
}
.pinpai .banxin2{
    height: 100%;
}
.pinpai-top{
    width: 100%;
    height: 50px;
}
.pinpai-top h4{
    font-size: 25px;
    color: #617687;
    font-weight: normal;
    float: left; 
    margin-right: 980px;
}
.pinpai-top a{
    display: block;
    float: left;
    color: #ccc;
}
.bottom{
    width: 100%;
    height: 290px;
    margin-top: 53px;
}
.bottom .banxin{
    height: 100%;
}
.bottom-left{
    float: left;
}
.bottom-left a{
    display: block;
    width: 310px;
    height: 280px;
    float: left;
}
.bottom-left a:first-child{
    margin-left: 85px;
}
.bottom-right{
    width: 420px;
    height: 294px;
    float: left;
}
.bottom-right a{
    display: block;
    width: 100%;
    height: 110px;
}
.banben{
    background-image: url(../img文件夹/bg-btn.png);
}
.liuyan{
    background-image: url(../img文件夹/bg-btn.png);
    background-position: 0px -119px;
}
.shijian{
    background-image: url(../img文件夹/bg-btn.png);
    background-position:0px -226px ;
    background-repeat: no-repeat;
}
.bottom-right a p{
    width:420px;
    height: 111px;
    background-image: url(../img文件夹/bg-btn-hover.png);
    background-repeat: no-repeat;
}
.banben p{
    display: none;
    background-position:0px 0px ;
}
.liuyan p{
    background-position: 0px -119px;
    display: none;
}
.shijian p{
    background-position: 0px -226px;
    display: none;
}
.bottom-right a:hover p{
    display: block;
}
.bottom_1{
    width: 100%;
    height: 154px;
    margin-top: 110px;
    background-color: #282725;
}
.bottom_1 .banxin3{
    height: 100%;
}
.bottom_1-left{
    margin-top: 28px;
}
.bottom_1-left a:first-child{
    float: left;
}
.bottom_1-left a:last-child {
display: block;
float: left;
width: 108px;
height: 40px;
background-image: url(../img文件夹/sprite-bg.png);
background-position:-325px -435px ;
position: relative;
}
.bottom_1-left a:last-child:before{
    content: "";
    width: 1px;
    height: 40px;
    background-color: #8c8c8c;
    position: absolute;
    top: 0px;
    left: 120px;
}
.bottom_1-right{
    width: 640px;
    height: 135px;
    margin-top: 28px;
    margin-left: 335px;
    color: #8c8c8c;
    
}
.bottom_1-right a{
    color: #8c8c8c;
}
.guding{
    display: block;
    width: 52px;
    height: 132px;
    background-image: url(../img文件夹/chapter_nav.png);
    background-position: 252px -917px;
    position: fixed;
    bottom: 100px;
    left: 0px;
}
.guding div{
    width: 52px;
    height: 132px;
    background-image: url(../img文件夹/chapter_nav.png);
    background-position: 197px -917px;
    position: fixed;
    bottom: 100px;
    left: 0px;
    display: none;
}
.guding:hover div{
    display: block;
}
    



